.container {
  min-height: 100vh;
  display: grid;
  align-content: center;
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
  padding: 2em;
}

.header h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.blog {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.blog h2 {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--color-text-muted);
}

.about {
  color: var(--color-text-secondary);
  text-wrap: pretty;
}
