.card {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.6rem;
  color: var(--color-text-secondary);
  text-decoration: none;
  border-radius: 8px;
  margin: 0 -0.6rem;
}

.header {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.title {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.date {
  color: var(--color-text-muted);
  margin: 0 0 0 auto;
  white-space: nowrap;
}

.card:hover {
  background-color: var(--color-dim);
}

.card:focus-visible {
  background-color: var(--color-dim);
}
