@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Uncial+Antiqua&display=swap");

:root {
  --color-bg: #0a0a0a;
  --color-text-primary: #e0e0e0;
  --color-text-secondary: #aaaaaa;
  --color-text-muted: #777777;
  --color-border: #77777780;
  --color-dim: #202020;
  --color-animation-dots: color-mix(in srgb, var(--color-text-primary) 38%, transparent);

  font-family: "Geist", sans-serif;
  line-height: 1.5;
  font-size: 15px;
  color: var(--color-text-primary);
  background-color: var(--color-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
